.button {
  padding: 12px 40px;
  background-color: var(--color-action);
  color: var(--color-white);
  border: none;
  border-radius: 20px;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.disabled {
  background-color: var(--color-placeholder);
  cursor: default;
}
